# Publish schema-viz static site files using GitHub workflow artifacts
name: Publish static schema viz to GH Pages

on:
  push:
    branches: 
      - main

jobs:

  # rebuild:

  publish:
    runs-on: ubuntu-latest
    # needs: rebuild
    
    permissions:
      contents: read
      pages: write     
      id-token: write 

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup GH Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: schema-viz

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
