name: schematic-schema-convert

on:
  push:
    branches:    
      - '**'      # matches every branch
      - '!main'   # excludes main
    paths:
      - 'nf_research_tools.rdb.model.csv'

  workflow_dispatch:

env:
  schema_filename: nf_research_tools.rdb.model.csv
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pip python3.8-venv libcurl4-openssl-dev
      
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository
 
      - name: Install schematic and convert schema
        shell: bash
        run: |
          # has to activate each bash step
          source .venv/bin/activate
          # use 'poetry' to install schematic from the develop branch 
          pip3 install poetry
          # clone patched branch until develop is stable
          git clone --single-branch --branch develop
          cd schematic
          poetry build
          pip3 install dist/schematicpy-1.0.0-py3-none-any.whl
          cd ..
          schematic schema convert $schema_filename
          
      - name: Commit files
        run: |
          git config --local user.email "nf-osi@sagebionetworks.org"
          git config --local user.name "nf-osi[bot]"
          git commit -m "Add changes" -a
    
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         branch: ${{ github.ref }}
